@import "global.scss";

.postsWrapper {
    ul {
        li {
            border-bottom: 1px solid $color6;
            a {
                display: block;
                padding: 4rem 1.6rem;
                transition: 0.2s;
                &:hover {
                    box-shadow: 0px 7.5px 7.5px -5px rgba(0, 0, 0, 0.2);
                }
                h2 {
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 0.5em;
                }
                p {
                    color: rgba($color1, 0.6);
                    &.date {
                        font-size: 1.4rem;
                        margin-bottom: 2em;
                    }
                }
                .body {
                    *:not(h2) {
                        display: none;
                    }
                    h2 {
                        font-size: 1.4rem;
                        font-weight: 400;
                        &::before {
                            content: "-";
                            margin-right: 1em;
                        }
                    }
                }
            }
        }
    }
}
